@{
    ViewData["Title"] = "Home";
}

<h1 style="text-align: center;">The Joel Hilton Film Collection</h1>
<img src="~/images/JoelHiltonHeadshot.jpg" alt="Joel Hilton" style="display: block; margin-left: auto; margin-right: auto;">
